@import "../Mountaineer/shared.scss";

.searchbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid $primary-color;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  z-index: 101;
  padding: 8px $searchbox-padding;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);

  &__input {
    border: none;
    flex: 0 0 80%;
  }

  &__btn {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: 500;
    font-size: 1.2em;
    color: $grey-color;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__results {
    position: relative;
    margin-top: -6px;
    width: 100%;
    border-left: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    padding: 8px 0;
    background-color: white;
    z-index: 999;
    height: auto;
    max-height: 80vh;
    overflow-y: scroll;
    cursor: pointer;
  }

  &__item-wrapper {
    &:hover .searchbox__item {
      background-color: $primary-color;
      color: white;
    }
  }
  &__item {
    padding: 8px $searchbox-padding;
  }

  &__spinner {
    display: inline-block;
    position: relative;
    padding: 8px $searchbox-padding;
    width: 80px;
    height: 80px;

    & div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      margin: 8px;
      border: 4px solid #fff;
      border-radius: 50%;
      animation: searchbox__spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $primary-color transparent transparent transparent;
    }

    & div:nth-child(1) {
      animation-delay: -0.45s;
    }
    & div:nth-child(2) {
      animation-delay: -0.3s;
    }
    & div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes searchbox__spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
