@import "../Mountaineer/shared.scss";

.searchbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid $primary-color;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  z-index: 101;
  padding: 8px $searchbox-padding;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);

  &__input {
    position: relative;
    border: none;
  }

  &__clear-btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2em;
    color: $grey-color;
    cursor: pointer;
  }

  &__btn {
    visibility: hidden;
    width: 1px;
  }

  &__results {
    position: relative;
    margin-top: -6px;
    width: 100%;
    border-left: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    padding: 8px 0;
    background-color: white;
    z-index: 999;
    height: 80vh;
    overflow-y: scroll;
    cursor: pointer;
  }

  &__item-wrapper {
    &:hover .searchbox__item {
      background-color: $primary-color;
      color: white;
    }
  }
  &__item {
    padding: 8px $searchbox-padding;
  }
}
