/* Shared variables */

// General components
$header-height: 90px;

// Colors
$primary-color: rgb(0, 128, 255);
$primary-color-alpha: 0.8;
$primary-color-rgba: rgba($primary-color, $primary-color-alpha);
