@import "./shared.scss";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.app__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $header-height;
  z-index: 100;
  padding: 16px 16px;
}

.app__content {
  position: relative;
  display: block;
  margin-top: $header-height;
  padding: 16px 16px;
}
